<h1>Admin Dashboard</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Number of Categories</th>
      <th scope="col"First>Number of Products</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @category_total %></td>
      <td><%= @products_total%></td>
    </tr>
  </tbody>
</table>
